//section1
.section1 {
  // background-color: #ffbb18;
  height: 80vh;
  position: relative;
  @include respond(phone) {
    height: 60vh;
  }
  &_img {
    width: 100%;
    height: 100%;
    // z-index: -10;
  }
}
.arrow {
  &_box {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 5%;
  }
  &_img {
    width: 100%;
    height: 100%;
  }
}
.carousel {
  // background-color: #f43553;
  height: 100%;
  width: 100%;
  // display: flex;
}
.card {
  background: linear-gradient(180deg, #feaf00 0%, #ff8713 100%);
  width: 20%;
  height: 45vh;
  padding: 2%;
  z-index: 100;
  position: relative;
  cursor: pointer;
  @include respond(phone) {
    width: 42%;
    margin: 1rem 0rem;
    height: 35vh;
    margin-left: 1rem;
  }
  @include respond(tab-port) {
    width: 42%;
    margin: 1rem 0rem;
    height: 35vh;
    margin-left: 1rem;
  }
  // margin: 10%;
  &_box {
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include respond(phone) {
      bottom: -60%;
    }
    @include respond(tab-port) {
      bottom: -60%;
    }
  }
  &_head {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.005em;

    color: #ffffff;
    height: 70%;
    // background-color: #f43553;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    @include respond(phone) {
      font-size: 30px;
      height: 60%;
    }
    @include respond(tab-port) {
      font-size: 30px;
      height: 60%;
    }
    @include respond(tab-land) {
      font-size: 30px;
    }
  }
  &_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.005em;
    width: 90%;
    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    @include respond(phone) {
      font-size: 12px;
    }
    @include respond(tab-port) {
      font-size: 12px;
    }
    @include respond(tab-land) {
      font-size: 12px;
    }
  }
}

//section2
.Section2 {
  //   height: 50%;
  // background-color: aquamarine;
  padding: 58px;
  margin: 8rem 0rem;
  @include respond(phone) {
    display: none;
  }
  @include respond(tab-port) {
    display: none;
  }
  &_phnview {
    display: none;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      margin: 15rem 0 8rem 0;
      padding: 0;
    }
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      margin: 15rem 0 8rem 0;
      padding: 0;
    }
  }
}
.box1 {
  width: 100%;
  display: flex;
  // height: 350px;
  // height: 100%;
  @include respond(phone) {
    flex-direction: column;
  }

  &_text {
    background-color: #f7f7f7;
    width: 50%;
    padding: 16px 62px;
    margin: 1rem;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0rem;
      padding: 0;
      // background-color: red;
    }
    @include respond(tab-land) {
      padding: 10px 20px;
    }
  }
  &_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 48px;
    padding: 0 30px 0px 0;
    color: #000000;
    margin: 1rem;
    @include respond(phone) {
      font-size: 2rem;
      line-height: 32px;
      padding: 0 0px 0px 0;
    }
  }
  &_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 16px 0px 0;
    margin: 1rem;
  }
  &_btn {
    font-family: "Abel", sans-serif;
    font-style: normal;
    width: 30%;
    text-align: center;
    display: flex;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.0015em;
    padding: 15px;
    margin: 0 16px 0 16px;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
    @include respond(phone) {
      width: 50%;
      padding: 10px;
    }
    @include respond(tab-land) {
      width: 60%;
      padding: 10px;
    }
    background: linear-gradient(270deg, #f43553 0.13%, #fc8a05 100%);
  }
  &_img {
    width: 50%;
    margin: 1rem;
    @include respond(phone) {
      display: none;
    }
    &_phnview {
      display: none;
      @include respond(phone) {
        display: flex;
        // background-color: #f43553;
        width: 100%;
        margin: 0;
      }
    }
    // margin: 16px 62px;

    &1 {
      width: 100%;
      height: 100%;
    }
  }
}
.box2 {
  &_img {
    width: 50%;
    margin: 1rem;
    @include respond(phone) {
      width: 100%;
      margin: 1rem 0;
    }
  }
  &_text {
    background-color: #f7f7f7;
    width: 50%;
    padding: 16px 62px;
    margin: 1rem;
    @include respond(phone) {
      width: 100%;
      padding: 10px 20px;
      margin: 1rem 0;
    }
  }
}

//section3
.section3 {
  width: 100%;
  // height: 60vh;
  position: relative;
  margin: 5rem 0rem;
  // height: 500px;
  // background-color: #fc8a05;
  @include respond(phone) {
  }
  &_box {
    position: absolute;
    top: 0;
    left: 10%;
    width: 40%;
    height: 100%;
    padding: 2% 2%;
    background: linear-gradient(
      360deg,
      rgba(255, 135, 19, 0.72) -8.59%,
      #feaf00 103.03%
    );
    @include respond(phone) {
      width: 100%;
      // padding: 0;
      left: 0;
      padding-top: 15%;
    }
  }
  &_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    padding: 0 2rem;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  &_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    color: rgba(255, 255, 255, 0.85);
  }
}
.bgimg {
  width: 100%;
  height: 100%;
  &_box {
    width: 100%;
    height: 90vh;
  }
}

//section4

.section4 {
  margin: 5rem 0rem;
  // width: 100%;
  @include respond(phone) {
    display: none;
  }
  &_phnview {
    display: none;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  &_heading {
    font-family: "Abel", sans-serif;
    // font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #000000;
    width: 100%;
    text-align: center;
    @include respond(phone) {
      font-size: 80px;
    }
  }
  &_box1 {
    // background-color: #fc8a05;
    // width: 100%;
    display: flex;
    @include respond(phone) {
      flex-direction: column;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
    &-imgbox {
      margin: 1rem;
      // width: 300%;
      width: 50%;
      @include respond(phone) {
        width: 100%;
        margin: 0;
      }
      // background-color: #f43553;
      // padding: 1rem 0rem;
    }
    &-info {
      margin: 1rem;
      width: 50%;
      // height: 50%;
      background: linear-gradient(0deg, #f7f7f7, #f7f7f7);
      padding: 2%;
      @include respond(phone) {
        width: 100%;
        margin: 0;
      }
    }
    &-name {
      font-family: "Abel", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;

      color: #ff8713;
    }
    &-sub {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      /* identical to box height */

      color: #000000;
    }
    &-para {
      font-family: "Abel", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.005em;
      margin: 1rem 0rem;
      color: #000000;
    }
  }
}

// section5

.section5 {
  margin: 5rem 0rem;
  width: 100%;
  @include respond(phone) {
    display: none;
  }
  &_phnview {
    display: none;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  &_heading {
    width: 100%;
    text-align: center;
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;

    letter-spacing: -0.015em;

    color: #000000;
    @include respond(phone) {
      font-size: 70px;
    }
  }
}
.block {
  &s {
    // background-color: #f43553;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-around;
  }
  width: 25%;
  @include respond(phone) {
    width: 50%;
    margin: 1rem;
  }
  // background-color: #fc8a05;
  &_imgBox {
  }
  &_img {
    width: 100%;
    height: 100%;
  }
  &_text {
    width: 100%;
    // text-align: center;
    padding: 2% 5%;
    margin-top: -1.2%;
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    @include respond(phone) {
      font-size: 16px;
    }
    color: #ffffff;
    background: linear-gradient(360deg, #ff8713 -8.59%, #feaf00 103.03%);
  }
}
.insta-btn {
  border: none;
  padding: 10px 68px 10px 38px;
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  // display: flex;
  // justify-content: space-around ;
  background: linear-gradient(90deg, #fc8a05 0%, #f43553 100%);
  &box {
    // background-color: green;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
}
.insta-img {
  position: absolute;
  width: 12%;
  margin-left: 5%;
  margin-top: 1%;
}

//section6

.section6 {
  display: flex;
  margin: 7rem 1rem;
  // margin: 2rem 1rem;
  @include respond(phone) {
    display: none;
  }
  &_phnview {
    display: none;
    @include respond(phone) {
      display: flex;
    }
  }
  &-text {
    width: 50%;
    @include respond(phone) {
      width: 100%;
    }
    padding: 2% 5%;
    margin: 2% 2%;
    background: linear-gradient(180deg, #ffbb18 0%, #ff7f00 100%);
  }
  &-imgbox {
    width: 50%;

    padding: 2% 0%;
    @include respond(phone) {
      width: 100%;
    }
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.005em;
    margin-bottom: 5%;
    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.event_list {
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 58px;
  /* identical to box height */

  letter-spacing: 0.005em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  @include respond(phone) {
    font-size: 16px;
    line-height: 48px;
  }
}

//section7
.section7 {
  margin: 5rem 0rem;

  &_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
    @include respond(phone) {
      font-size: 70px;
      margin-bottom: 1rem;
    }
    @include respond(tab-land) {
      font-size: 70px;
      margin-bottom: 1rem;
    }
  }
  &_card {
    width: 100%;
    padding: 5% 2%;
    display: flex;
    justify-content: space-around;
    @include respond(phone) {
      overflow-x: scroll;
      margin: 1rem 0rem;
    }
  }
}
.userCard {
  width: 22%;
  // height: 80%;
  background: #f3f3f3;
  @include respond(phone) {
    width: 50%;
    // background-color: #f43553;
    padding: 5% 1% 1% 1%;
    margin: 1rem;
  }
  @include respond(tab-port) {
    width: 50%;
    padding: 5% 1% 1% 1%;
    margin: 1rem;
  }
  @include respond(tab-land) {
    width: 50%;
    padding: 10% 1% 1% 1%;
    margin: 1rem;
  }
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 7% 2% 2% 2%;
  position: relative;
  &-name {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.0025em;

    color: #ff6300;

    margin-top: 1rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 2% 5%;
    // position: absolute;
    // bottom: 10%;
    justify-self: flex-end;
    @include respond(phone) {
      font-size: 16px;
      // margin-top: 4rem;
    }
  }
  &-para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 0 1rem;
    /* or 118% */
    height: 65%;
    letter-spacing: 0.005em;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    @include respond(phone) {
      font-size: 10px;
      height: 50%;
      margin-top: 3rem;
    }
  }
}
.profilePhoto {
  width: 100%;
  height: 100%;
  &-box {
    background: #d9d9d9;
    position: absolute;
    top: -15%;
    left: 23%;
    width: 50%;
    height: 40%;
    border-radius: 50%;
  }
}

//section8

.section8 {
  width: 100%;
  padding: 2% 8%;
  margin: 5rem 0rem;

  display: flex;
  justify-content: space-around;
  background: linear-gradient(360deg, #ff8713 -8.59%, #feaf00 103.03%);
  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
  &-left {
    width: 35%;
    // background-color: red;
    @include respond(phone) {
      width: 100%;
    }
  }
  &-right {
    width: 35%;
    // background-color: green;
    margin-left: 20%;
    @include respond(phone) {
      width: 100%;
      margin-top: 5%;
      margin-left: 0;
    }
  }
  &_head {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.0025em;

    color: #ffffff;
  }
  &_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_box {
      margin-top: 5%;
    }
  }
}

//contactus

.contactus {
  padding: 5%;
  display: flex;
  margin: 5rem 0rem;
  @include respond(phone) {
    flex-direction: column;
  }

  &_text {
    width: 50%;
    background: #f3f3f3;
    padding: 2rem 5rem;
    margin-right: 2rem;
    @include respond(phone) {
      width: 100%;
      padding: 2rem 2rem;
    }
  }
  &_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -0.005em;
    margin-bottom: 2rem;
    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &_address {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &_phn {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.0025em;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &_email {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 0.005em;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &_map {
    width: 50%;
    // margin: 5%;
    @include respond(phone) {
      width: 100%;
      margin-top: 2%;
    }
  }
}
.map_img {
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  width: 100%;
  margin: 5% 0;
  // height: 30%;
  // background-color: #fc8a05;
  &-logo {
    height: 100%;
    width: 8%;
    // background-color: black;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    &_img {
      margin-top: 80%;
    }
    &_img2 {
      margin-top: 80%;
    }
    &_img3 {
      margin-top: -0%;
    }
  }
}
.social {
  width: 60%;
  // background-color: greenyellow;
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  &_logo {
    height: 80%;
    cursor: pointer;
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
