* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.about_header {
  width: 100%;
  height: 75vh;
  position: relative; }
  .about_header-text {
    position: absolute;
    bottom: 20%;
    left: 10%; }

.about_img {
  height: 100%;
  width: 100%; }

.about_heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  letter-spacing: -0.005em;
  color: #ffffff; }
  @media only screen and (max-width: 37.5em) {
    .about_heading {
      font-size: 30px;
      line-height: 50px; } }

.about_subhead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  color: #ffffff; }
  @media only screen and (max-width: 37.5em) {
    .about_subhead {
      font-size: 20px; } }

.about-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.005em;
  color: #ff6300;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0; }
  @media only screen and (max-width: 37.5em) {
    .about-heading {
      font-size: 40px; } }

.about-content {
  padding: 2rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    .about-content {
      padding: 2rem 2rem; } }

.about-para_span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.005em;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0; }
  @media only screen and (max-width: 37.5em) {
    .about-para_span {
      font-size: 40px; } }

.about-secondary_head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  color: #ff6300; }

.section1 {
  height: 80vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section1 {
      height: 60vh; } }
  .section1_img {
    width: 100%;
    height: 100%; }

.arrow_box {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 5%; }

.arrow_img {
  width: 100%;
  height: 100%; }

.carousel {
  height: 100%;
  width: 100%; }

.card {
  background: linear-gradient(180deg, #feaf00 0%, #ff8713 100%);
  width: 20%;
  height: 45vh;
  padding: 2%;
  z-index: 100;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 42%;
      margin: 1rem 0rem;
      height: 35vh;
      margin-left: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .card {
      width: 42%;
      margin: 1rem 0rem;
      height: 35vh;
      margin-left: 1rem; } }
  .card_box {
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .card_box {
        bottom: -60%; } }
    @media only screen and (max-width: 56.25em) {
      .card_box {
        bottom: -60%; } }
  .card_head {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.005em;
    color: #ffffff;
    height: 70%;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; }
    @media only screen and (max-width: 37.5em) {
      .card_head {
        font-size: 30px;
        height: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .card_head {
        font-size: 30px;
        height: 60%; } }
    @media only screen and (max-width: 75em) {
      .card_head {
        font-size: 30px; } }
  .card_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.005em;
    width: 90%;
    color: #ffffff;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; }
    @media only screen and (max-width: 37.5em) {
      .card_para {
        font-size: 12px; } }
    @media only screen and (max-width: 56.25em) {
      .card_para {
        font-size: 12px; } }
    @media only screen and (max-width: 75em) {
      .card_para {
        font-size: 12px; } }

.Section2 {
  padding: 58px;
  margin: 8rem 0rem; }
  @media only screen and (max-width: 37.5em) {
    .Section2 {
      display: none; } }
  @media only screen and (max-width: 56.25em) {
    .Section2 {
      display: none; } }
  .Section2_phnview {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .Section2_phnview {
        display: flex;
        flex-direction: column;
        margin: 15rem 0 8rem 0;
        padding: 0; } }
    @media only screen and (max-width: 56.25em) {
      .Section2_phnview {
        display: flex;
        flex-direction: column;
        margin: 15rem 0 8rem 0;
        padding: 0; } }

.box1 {
  width: 100%;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .box1 {
      flex-direction: column; } }
  .box1_text {
    background-color: #f7f7f7;
    width: 50%;
    padding: 16px 62px;
    margin: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .box1_text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem;
        padding: 0; } }
    @media only screen and (max-width: 75em) {
      .box1_text {
        padding: 10px 20px; } }
  .box1_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 48px;
    padding: 0 30px 0px 0;
    color: #000000;
    margin: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .box1_heading {
        font-size: 2rem;
        line-height: 32px;
        padding: 0 0px 0px 0; } }
  .box1_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 16px 0px 0;
    margin: 1rem; }
  .box1_btn {
    font-family: "Abel", sans-serif;
    font-style: normal;
    width: 30%;
    text-align: center;
    display: flex;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.0015em;
    padding: 15px;
    margin: 0 16px 0 16px;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(270deg, #f43553 0.13%, #fc8a05 100%); }
    @media only screen and (max-width: 37.5em) {
      .box1_btn {
        width: 50%;
        padding: 10px; } }
    @media only screen and (max-width: 75em) {
      .box1_btn {
        width: 60%;
        padding: 10px; } }
  .box1_img {
    width: 50%;
    margin: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .box1_img {
        display: none; } }
    .box1_img_phnview {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .box1_img_phnview {
          display: flex;
          width: 100%;
          margin: 0; } }
    .box1_img1 {
      width: 100%;
      height: 100%; }

.box2_img {
  width: 50%;
  margin: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .box2_img {
      width: 100%;
      margin: 1rem 0; } }

.box2_text {
  background-color: #f7f7f7;
  width: 50%;
  padding: 16px 62px;
  margin: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .box2_text {
      width: 100%;
      padding: 10px 20px;
      margin: 1rem 0; } }

.section3 {
  width: 100%;
  position: relative;
  margin: 5rem 0rem; }
  .section3_box {
    position: absolute;
    top: 0;
    left: 10%;
    width: 40%;
    height: 100%;
    padding: 2% 2%;
    background: linear-gradient(360deg, rgba(255, 135, 19, 0.72) -8.59%, #feaf00 103.03%); }
    @media only screen and (max-width: 37.5em) {
      .section3_box {
        width: 100%;
        left: 0;
        padding-top: 15%; } }
  .section3_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    padding: 0 2rem;
    margin-bottom: 2rem;
    color: #ffffff; }
  .section3_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.85); }

.bgimg {
  width: 100%;
  height: 100%; }
  .bgimg_box {
    width: 100%;
    height: 90vh; }

.section4 {
  margin: 5rem 0rem; }
  @media only screen and (max-width: 37.5em) {
    .section4 {
      display: none; } }
  .section4_phnview {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .section4_phnview {
        display: flex;
        flex-direction: column; } }
  .section4_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #000000;
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .section4_heading {
        font-size: 80px; } }
  .section4_box1 {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .section4_box1 {
        flex-direction: column; } }
    .section4_box1-img {
      width: 100%;
      height: 100%; }
    .section4_box1-imgbox {
      margin: 1rem;
      width: 50%; }
      @media only screen and (max-width: 37.5em) {
        .section4_box1-imgbox {
          width: 100%;
          margin: 0; } }
    .section4_box1-info {
      margin: 1rem;
      width: 50%;
      background: linear-gradient(0deg, #f7f7f7, #f7f7f7);
      padding: 2%; }
      @media only screen and (max-width: 37.5em) {
        .section4_box1-info {
          width: 100%;
          margin: 0; } }
    .section4_box1-name {
      font-family: "Abel", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: #ff8713; }
    .section4_box1-sub {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      /* identical to box height */
      color: #000000; }
    .section4_box1-para {
      font-family: "Abel", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.005em;
      margin: 1rem 0rem;
      color: #000000; }

.section5 {
  margin: 5rem 0rem;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .section5 {
      display: none; } }
  .section5_phnview {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .section5_phnview {
        display: flex;
        flex-direction: column; } }
  .section5_heading {
    width: 100%;
    text-align: center;
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    letter-spacing: -0.015em;
    color: #000000; }
    @media only screen and (max-width: 37.5em) {
      .section5_heading {
        font-size: 70px; } }

.block {
  width: 25%; }
  .blocks {
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .block {
      width: 50%;
      margin: 1rem; } }
  .block_img {
    width: 100%;
    height: 100%; }
  .block_text {
    width: 100%;
    padding: 2% 5%;
    margin-top: -1.2%;
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background: linear-gradient(360deg, #ff8713 -8.59%, #feaf00 103.03%); }
    @media only screen and (max-width: 37.5em) {
      .block_text {
        font-size: 16px; } }

.insta-btn {
  border: none;
  padding: 10px 68px 10px 38px;
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(90deg, #fc8a05 0%, #f43553 100%); }
  .insta-btnbox {
    padding: 1rem;
    display: flex;
    justify-content: center; }

.insta-img {
  position: absolute;
  width: 12%;
  margin-left: 5%;
  margin-top: 1%; }

.section6 {
  display: flex;
  margin: 7rem 1rem; }
  @media only screen and (max-width: 37.5em) {
    .section6 {
      display: none; } }
  .section6_phnview {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .section6_phnview {
        display: flex; } }
  .section6-text {
    width: 50%;
    padding: 2% 5%;
    margin: 2% 2%;
    background: linear-gradient(180deg, #ffbb18 0%, #ff7f00 100%); }
    @media only screen and (max-width: 37.5em) {
      .section6-text {
        width: 100%; } }
  .section6-imgbox {
    width: 50%;
    padding: 2% 0%; }
    @media only screen and (max-width: 37.5em) {
      .section6-imgbox {
        width: 100%; } }
  .section6-img {
    width: 100%;
    height: 100%; }
  .section6_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.005em;
    margin-bottom: 5%;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; }

.event_list {
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 58px;
  /* identical to box height */
  letter-spacing: 0.005em;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0; }
  @media only screen and (max-width: 37.5em) {
    .event_list {
      font-size: 16px;
      line-height: 48px; } }

.section7 {
  margin: 5rem 0rem; }
  .section7_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000; }
    @media only screen and (max-width: 37.5em) {
      .section7_heading {
        font-size: 70px;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 75em) {
      .section7_heading {
        font-size: 70px;
        margin-bottom: 1rem; } }
  .section7_card {
    width: 100%;
    padding: 5% 2%;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .section7_card {
        overflow-x: scroll;
        margin: 1rem 0rem; } }

.userCard {
  width: 22%;
  background: #f3f3f3;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 7% 2% 2% 2%;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .userCard {
      width: 50%;
      padding: 5% 1% 1% 1%;
      margin: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .userCard {
      width: 50%;
      padding: 5% 1% 1% 1%;
      margin: 1rem; } }
  @media only screen and (max-width: 75em) {
    .userCard {
      width: 50%;
      padding: 10% 1% 1% 1%;
      margin: 1rem; } }
  .userCard-name {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: #ff6300;
    margin-top: 1rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 2% 5%;
    justify-self: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .userCard-name {
        font-size: 16px; } }
  .userCard-para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 0 1rem;
    /* or 118% */
    height: 65%;
    letter-spacing: 0.005em;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; }
    @media only screen and (max-width: 37.5em) {
      .userCard-para {
        font-size: 10px;
        height: 50%;
        margin-top: 3rem; } }

.profilePhoto {
  width: 100%;
  height: 100%; }
  .profilePhoto-box {
    background: #d9d9d9;
    position: absolute;
    top: -15%;
    left: 23%;
    width: 50%;
    height: 40%;
    border-radius: 50%; }

.section8 {
  width: 100%;
  padding: 2% 8%;
  margin: 5rem 0rem;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(360deg, #ff8713 -8.59%, #feaf00 103.03%); }
  @media only screen and (max-width: 37.5em) {
    .section8 {
      display: flex;
      flex-direction: column; } }
  .section8-left {
    width: 35%; }
    @media only screen and (max-width: 37.5em) {
      .section8-left {
        width: 100%; } }
  .section8-right {
    width: 35%;
    margin-left: 20%; }
    @media only screen and (max-width: 37.5em) {
      .section8-right {
        width: 100%;
        margin-top: 5%;
        margin-left: 0; } }
  .section8_head {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: #ffffff; }
  .section8_para {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #ffffff; }
  .section8-list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .section8-list_box {
      margin-top: 5%; }

.contactus {
  padding: 5%;
  display: flex;
  margin: 5rem 0rem; }
  @media only screen and (max-width: 37.5em) {
    .contactus {
      flex-direction: column; } }
  .contactus_text {
    width: 50%;
    background: #f3f3f3;
    padding: 2rem 5rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .contactus_text {
        width: 100%;
        padding: 2rem 2rem; } }
  .contactus_heading {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -0.005em;
    margin-bottom: 2rem;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; }
  .contactus_address {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0; }
  .contactus_phn {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.0025em;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0; }
  .contactus_email {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.005em;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0; }
  .contactus_map {
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .contactus_map {
        width: 100%;
        margin-top: 2%; } }

.map_img {
  width: 100%;
  height: 100%; }

.content {
  display: flex;
  width: 100%;
  margin: 5% 0; }
  .content-logo {
    height: 100%;
    width: 8%;
    display: flex;
    align-items: center;
    margin-right: 1rem; }
    .content-logo_img {
      margin-top: 80%; }
    .content-logo_img2 {
      margin-top: 80%; }
    .content-logo_img3 {
      margin-top: -0%; }

.social {
  width: 60%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-around; }
  .social_logo {
    height: 80%;
    cursor: pointer; }

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 34px;
  width: 100%;
  height: 12vh;
  order: 0; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      height: 50px;
      padding: 0px 10px; } }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      width: 100%;
      height: 60px;
      padding: 0 5px; } }

.logo_box {
  display: flex;
  width: 40%; }
  @media only screen and (max-width: 75em) {
    .logo_box {
      width: 60%; } }

.logo_imgbox {
  width: 20%;
  padding: 1%;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .logo_imgbox {
      width: 58px; } }
  @media only screen and (max-width: 56.25em) {
    .logo_imgbox {
      width: 58px; } }
  @media only screen and (max-width: 75em) {
    .logo_imgbox {
      width: 40px; } }

.logo_img {
  width: 100%;
  height: 100%; }

.logo_text {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  color: #000000; }
  @media only screen and (max-width: 37.5em) {
    .logo_text {
      width: 372px;
      font-size: 13px;
      line-height: 10px; } }
  @media only screen and (max-width: 56.25em) {
    .logo_text {
      width: 372px;
      font-size: 16px;
      line-height: 10px; } }
  @media only screen and (max-width: 75em) {
    .logo_text {
      width: 100%;
      font-size: 16px;
      line-height: 10px; } }

.navBtn {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 80%;
  margin-left: 20%; }
  @media only screen and (max-width: 37.5em) {
    .navBtn {
      display: none; } }
  @media only screen and (max-width: 56.25em) {
    .navBtn {
      display: none; } }
  @media only screen and (max-width: 75em) {
    .navBtn {
      width: 60%; } }
  .navBtn_phnview {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navBtn_phnview {
        display: flex;
        width: 10%; } }
    @media only screen and (max-width: 56.25em) {
      .navBtn_phnview {
        width: 10%;
        display: flex; } }
  .navBtn_text {
    height: 100%;
    width: 120%;
    padding: 1rem;
    display: flex;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: white; }
    .navBtn_text:active,
    .navBtn_text :visited,
    .navBtn_text ::after,
    .navBtn_text :focus {
      color: #ffffff;
      background: linear-gradient(180deg, #feaf00 0%, #ff8713 100%); }
